<h1 class="absolute -top-4 py-px px-2 -mx-2 uppercase font-bold text-lg">
  <%= @user.screen_name %>
</h1>

<%= render @user %>

<% if @user == Current.user %>
  <details>
    <summary>
      <strong>Sessions:</strong>
      <%= @user.sessions.size %>
    </summary>
    <ul class="list-[square] list-inside space-y-4 pl-6">
      <%= render @user.sessions.order(created_at: :desc) %>
    </ul>
  </details>

  <br>

  <div class="flex items-center gap-2">
    <%= link_to "Edit profile", edit_user_path(@user), class: "border border-black text-black bg-white py-1 px-2 cursor-pointer hover:bg-black hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
    <%= button_to "Delete profile", @user, method: :delete, class: "border border-red-500 text-red-500 bg-white py-1 px-2 cursor-pointer hover:bg-red-500 hover:text-white focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>
